<div class="table-row">
    <div class="table-cell species-cell">{{ NAME }}</div>
    <div class="table-cell status-cell">{{ IN_JSON }}</div>
    <div class="table-cell status-cell">{{ IN_EBIRD }}</div>
    <div class="table-cell num-cell">{{ TOTAL_LABEL }}</div>
    <div class="table-cell num-cell">{{ TOTAL_KEYWORD }}</div>
    <div class="table-cell num-cell">{{ PUBLISHED }}</div>
    <div class="table-cell num-cell {{ NEEDS_TAGGING_CLASS }}">{{ NEEDS_TAGGING }}</div>
    <div class="table-cell num-cell {{ MISSING_LOCATION_CLASS }}">{{ MISSING_LOCATION }}</div>
</div>
